<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>jbbfgre@arkgguvat.bet</string>
	<key>contactName</key>
	<string>Andrew Wooster</string>
	<key>description</key>
	<string>Personal TM modifications.
</string>
	<key>name</key>
	<string>Wooster’s Bundle</string>
	<key>uuid</key>
	<string>2F15C3A2-113B-440E-8949-D923B09F1B34</string>
</dict>
</plist>
